//
// User styles
// -----------------------------------------------------------------------------
// NOTE: the following user styles are designed for default theme Curtana

// EXAMPLE: alternative title size
// By default all heading levels have the same font size, but many people may
// not like this, so here's an alternative font size stack:


// EXAMPLE: alternative post title color
// This is useful when you're using the custom color scheme.
// .content { .list h2 a, header h1, header h1 a { color: var(--link-color); } }
// .external span { background: var(--link-color); }

// EXAMPLE: Custom typography for Chinese Traditional
// :root {
//   --fontstack-sans-serif: "Helvetica Neue", "Hiragino Sans GB", Arial, sans-serif;
//   --fontstack-serif: Georgia, "Hiragino Mincho ProN", serif;
// }

// EXAMPLE: amsf.github.io custom appearance
:root {
  --font-size: 1.5vw;
  --space-lg: 12vw;

  --bg-color-h: 168;
  --bg-color-s: 100%;
  --bg-color-l: 25%;
  --bg-color-hsl: var(--bg-color-h), var(--bg-color-s), var(--bg-color-l);
  --bg-color: hsl(var(--bg-color-hsl));
  --bg-color-light: hsl(var(--bg-color-h), var(--bg-color-s), calc(var(--bg-color-l) ));
  --bg-color-dark: hsl(var(--bg-color-h), var(--bg-color-s), calc(var(--bg-color-l) ));  

  --text-color: white;
  
  --link-color-h: 168;
  --link-color-s: 100%;
  --link-color-l: 85%;
  --link-color-hsl: var(--link-color-h), var(--link-color-s), var(--link-color-l);

  --link-color: hsl(var(--link-color-hsl));

  
}


.content header {
  background-color: hsl(168, 100%, 10%);    
  flex-direction: inherit;
}

.row {
  display: flex; /* equal height of the children */
  margin-bottom: 50px;
}
.col {
  flex: 1; /* additionally, equal width */  
  padding: 1em;
}

.heading_first_word {
  color: hsl(167.76, 100%, 71.18%);
}


.content img, .content video, .content iframe, .content .browser {
  --space-deco: var(--space-md);
  display: block;
  margin-left: unset;
  margin-right: unset;
  margin-bottom: unset;
  height: fit-content;
  width: 100%;
}



.content header h1 {
  font-size: 200%;
  padding-bottom: 1rem;
}

.highlighter{
  background-color: rgba(255, 255, 0, 0.30);
}

.content .sub-title {
  font-size: 108%;
  opacity: .9;
}

.content {
  // h1 { font-size: 400%; opacity: .8; }
  // h2 { font-size: 108%; opacity: .8; }
  // h3 { font-size: 96%;  opacity: .7; }
  h4 { font-size: 84%;  opacity: .6; }
  h5 { font-size: 72%;  opacity: .5; }
  h6 { font-size: 60%;  opacity: .4; }
}


.install {
  display: flex;
  justify-content: center;  
}


.myButton {
	background-color:hsl(167.76, 100%, 71.18%);
	border-radius:5px;
	border:2px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:hsl(168, 100%, 25%);
	// font-family:Arial;
	font-size:17px;
	padding:10px 21px;
	text-decoration:none;
	// text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#ffffff;
  color:hsl(168, 100%, 25%);
}
.myButton:active {
	position:relative;
	top:1px;
}

.content pre, .content .highlight > pre, .content .highlighter-rouge pre.highlight {
  margin-bottom: unset;
  line-height: unset;
  padding-left: unset;
  padding-right: unset;
  margin-left: unset;
  margin-right: unset;
}


.plugins_grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 80px;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    justify-items: stretch;
    align-items: stretch;
    width: 100%;
    
 }

.plugins_grid_container div h2 {
   font-size: 60% !important;
   margin: unset;  
   font-weight: bolder;   
   text-align: center;
   color: black;
   opacity: 1;
   
 }
.plugins_grid_container div {
  background: white !important;
  width: 120px !important;
  height: 120px !important;
  border: solid 2px black;  
}    

.plugins_grid_container div img {
  max-height:70%; 
  max-width: fit-content;
  display: block;
  margin: auto;
  padding: 10px;  
  
}