//
// Sass variables customization
// -----------------------------------------------------------------------------
// All Sass vaiables in `_variables.scss` can be overwritten below.
// Due to the limitation of Sass, I don't have variable hoisting feature like
// native CSS or Less at hand, so it's dirty to have two user defined
// stylesheets, hope for native color manipulation in the future.
//
// - This file should contain only Sass variables defined in theme Curtana.
// - CSS varaibles customization should be defined in `_user.scss`.

//========================================================================================================================================================
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,400;0,500;0,700;1,500;1,700&display=swap");

$fontFamily: "Roboto";
$fontSize: 18px; // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$primaryTextColor: #ffffff; // Цвет шрифта по умолчанию
$secondaryTextColor: #000000;
$primaryBodyColor: #123229;
$secondaryBodyColor:  #377e67;
$accentColor: #95fce2;

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 360;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1300;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 64;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer+$containerPadding;

// Брейк-поинты
$pc: 1363.98px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S
