<!-- Footer section -->

<section class="home__posts posts-home">
		<div class="posts-home__container">
			<h2 id="blog" class="posts-home__title title title_big title_uppercase">BLOG POSTS</h2>
			<div class="posts-home__body">
				<div class="posts-home__item item-posts-left">
					<h3 class="posts-home__subtitle subtitle">Blog - Getting-started</h3>
					<div class="posts-home__links">
						{% for post in site.tags.getting-started %}
						{%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
						{% endfor %}
					</div>
				</div>
				<div class="posts-home__item item-posts-right">
					<h3 class="posts-home__subtitle subtitle">Blog - Articles</h3>					
					{% for post in site.tags.article %}
					{%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	



{% unless page.permalink == '/' and site.data.curtana.clean_homepage %}

{% endunless %}

  

<!-- Theme scripts -->
<script src="{{ '/js/app.js?assets-inline' | prepend: amsf_theme_assets }}"></script>

<!-- User scripts -->
<script src="{{ '/js/user.js?assets-inline' | prepend: amsf_user_assets }}"></script>

<!-- Lightense Images -->
{% if page.plugin == 'lightense' %}
  <script src="{{ '/js/lightense.min.js?assets-inline' | prepend: amsf_theme_assets }}"></script>
  <script>
    window.addEventListener('load', function () {
      Lightense('p > img:not(.no-lightense),.lightense');
    }, false);
  </script>
{% endif %}

<!-- Service Worker  -->
{{ amsf_service_worker }}

<!-- Google Analytics -->
{{ amsf_google_analytics }}

<!-- Foot hooks -->
{% if page.foot %}
  {{ page.foot }}
{% endif %}




<!-- Finale -->
</html>
